.borde {
  background-color: gray;
  height: 200px;
}

.borde1 {
  background-color: aquamarine;
  height: 50px;
  text-align: center;

}

.borde2 {
  background-color: olivedrab;
  height: 50px;
  text-align: center;

}

.borde3 {
  background-color: orangered;
  height: 50px;
  text-align: center;
}

.cool {
  width: 100%;
}

.test {
  color:  white;
  background-image: url("http://hdqwalls.com/wallpapers/graffiti-wall-night-4k-4u.jpg");
}

.icon-test {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
